<h1>Dodawanie użytkownika przez admina</h1>

<form action="/adduser" method="post">
	<div class="container">
		<div>
			<label for="login"><b>Login</b></label>
			<input type="text" placeholder="Login" name="login" required>
		</div>
		<div>
			<label for="password"><b>Password</b></label>
			<input type="password" placeholder="Password" name="password" required>
		</div>
    
		<div><button type="submit">Login</button></div>
	</div>
</form>
